@{
    ViewData["Title"] = "Spotify-Music-App";
}

<div class="heading">
    <h3>Your favourite tracks</h3>
    <i class="fa-solid fa-circle-play fa-2x playAll" style="color: #0cdf36;"></i>
    <h3>Play All</h3>
</div>
<div class="middle">
    <div class="songList">
        <div type="button" class="song">
            <img src="" class="song-icon" alt="" height="30px" width="30px">
            <p class="songName">Zaroorat</p>
            <i class="fa-solid fa-heart"></i>
            <p class="album">Ek Villain</p>
            <p class="duration">06:09</p>
            <i class="fa-solid fa-play random-play"></i>
        </div>
        <div type="button" class="song">
            <img src="" class="song-icon" alt="" height="30px" width="30px">
            <p class="songName">Hamdard</p>
            <i class="fa-solid fa-heart"></i>
            <p class="album">Ek Villain</p>
            <P class="duration">04:20</P>
            <i class="fa-solid fa-play random-play"></i>
        </div>
        <div type="button" class="song">
            <img src="" class="song-icon" alt="" height="30px" width="30px">
            <p class="songName">O-Meri-Jaan</p>
            <i class="fa-solid fa-heart"></i>
            <p class="album"></p>
            <p class="duration">05:13</p>
            <i class="fa-solid fa-play random-play"></i>
        </div>
        <div type="button" class="song">
            <img src="" class="song-icon" alt="" height="30px" width="30px">
            <p class="songName"></p>
            <i class="fa-solid fa-heart"></i>
            <p class="album"></p>
            <p class="duration">03:21</p>
            <i class="fa-solid fa-play random-play"></i>
        </div>
        <div type="button" class="song">
            <img src="" alt="" class="song-icon" height="30px" width="30px">
            <p class="songName"></p>
            <i class="fa-solid fa-heart"></i>
            <p class="album"></p>
            <p class="duration">05:09</p>
            <i class="fa-solid fa-play random-play"></i>
        </div>
        <div type="button" class="song">
            <img src="" alt="" class="song-icon" height="30px" width="30px">
            <p class="songName"></p>
            <i class="fa-solid fa-heart"></i>
            <p class="album">Pati Patni Or woh</p>
            <p class="duration">03:21</p>
            <i class="fa-solid fa-play random-play"></i>
        </div>
        <div type="button" class="song">
            <img src="" alt="" class="song-icon" height="30px" width="30px">
            <p class="songName"></p>
            <i class="fa-solid fa-heart"></i>
            <p class="album">Pati Patni Or woh</p>
            <p class="duration">03:21</p>
            <i class="fa-solid fa-play random-play"></i>
        </div>
        <div type="button" class="song">
            <img src="" alt="" class="song-icon" height="30px" width="30px">
            <p class="songName"></p>
            <i class="fa-solid fa-heart"></i>
            <p class="album">Pati Patni Or woh</p>
            <p class="duration">03:21</p>
            <i class="fa-solid fa-play random-play"></i>
        </div>
    </div>
    <img src="poster/1.jpeg" alt="poster" class="poster-img">
</div>

