@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;500;700&display=swap');


li {
    list-style: none;
    padding: 10px 0;
    color: white;
}

.title {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

.top {
    display: flex;
    gap: 10px;
    background-color: rgb(146, 181, 182);
    justify-content: center;
    height: 10vh;
    width: 100vw;
    align-items: center;
}

.song {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px/30px;
}

.heading {
    height: 10vh;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: url("spotify-banner.jpg");
}

.song-heading {
    background-color: black;
    color: white;
    display: inline-flex;
    column-gap: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px/30px;
    position: sticky;
}

#myProgressBar {
    width: 70vw;
}

.middle {
    height: 65vh;
    background: url("spotify-banner.jpg");
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.songList {
    /* position: absolute;
    left: 50px; */
    width: 60vw;
    height: 50vh;
    overflow: auto;
    background-color: #343a40;
}

.songName {
    font-family: 'Montserrat', sans-serif;
}


.poster-img {
    height: 300px;
    width: 300px;
    /* position: absolute;
    right: 50px; */
    border-radius: 10px;
    text-align: center;
}

.bottom {
    text-align: center;
    background-color: #1b1d1e;
    color: white;
    height: 15vh;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



@media (max-width:800px) {

    img.poster-img {
        width: 0;
    }

    .songList {
        width: 100vw;
        height: 80vh;
    }

    p.album {
        display: none;
    }

    p.duration {
        display: none;
    }
}
